<h1 style="text-align: center;"><strong>Pagina Web version2!!</strong></h1>
<p>&nbsp;</p>
<p>App de prueba. Para m&aacute;s informaci&oacute;n de Openshift visite<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> este link</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
